* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    border: border-box;
    line-height: 1.25em;
 }
 
 body {
     text-align:center;
     background-color: #fff;
     padding: 0;
     margin-top: -10px;
 }

 .section1-and-section2-container {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-bottom: 20px; 
    border-bottom: 1px solid rgb(233, 230, 230);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
}


 #section1-searchbutton {
    text-align: center;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 100px;
    padding: 10px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.section2 button {
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

.section2 button:hover {
    opacity: 0.95;
    text-decoration: 3px rgba(0, 0, 0, 0.118) underline;
    text-underline-offset: 1.5em;
}