* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    border: border-box;
    line-height: 1.25em;
 }
 
 body {
     text-align:center;
     background-color: #fff;
     padding: 0;
     margin-top: -10px;
 }


.section1-and-section2-container {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-bottom: 20px; 
    border-bottom: 1px solid rgb(233, 230, 230);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
}



 #section1-searchbutton {
    text-align: center;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 100px;
    padding: 10px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
}



.section2 button {
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

.section2 button:hover {
    opacity: 0.95;
    text-decoration: 3px rgba(0, 0, 0, 0.118) underline;
    text-underline-offset: 1.5em;
}

.section3 {
    top: 100px;
}

.section3-listing {
    position: relative;
    font-size: 15px;
}

#listing-image {
    width: 342px;
    height: 324px;
    object-fit: cover;
    border-radius: 12px;
}

.overlay-text {
    position: absolute;
    top: 16px; 
    left: 38px; 
    background-color: #fff; 
    padding: 5px 11px; 
    border-radius: 35px;
    font-size: 12px; 
    font-weight: 500;
}

#add-to-wishlist {
    position: absolute;
    top: 11px; 
    left: 328px; 
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
}

.listing-details {
    position:absolute;
    text-align: left;
    top: 336px;
    left: 24px;
}

.star-rating {
    position:absolute;
    float: right;
    top: 336px;
    right: 24px;
}

.host-type-prospective-dates {
    color:#717171;
    font-weight: 300;
}

.listing-price {
    color:black;
}

.section4 h4 {
    font: 18px;
    color:  #222222;
    font-weight: 500;
}

#show-more {
    color: #fff;
    background-color: #222222;
    padding: 12px 24px;
    border-radius: 8px;
    font: 16px;
    border:none;

}

.section5 h3 {
    text-align:left;
    font-weight: 500;
    padding-top: 22px;
    padding-bottom: 18px;
}

.section5-menu-container button {
    color: #717171;
    float: left;
    padding-right: 15px;
    font: 14px;
    background: none;
    border: none;
    font-weight: 500;
}

.section5-menu button:hover {
    text-decoration: 2px #222222 underline;
    text-underline-offset: 1.85em;
}

.section5 {
    background-color:#f7f7f7;
    padding: 14px 24px;
    text-align: left; 
}

.section5-location-menu {
    display: grid;
    column-gap: 40px;
}

.section5-location-menu-option1 {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

.section5-location-menu-option2 {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
}

.section5-location-menu-option3 {
    grid-column: 1;
    grid-row: 3;
    padding: 10px;
}

.section5-location-menu-option4 {
    grid-column: 1;
    grid-row: 4;
    padding: 10px;
}

.section5-location-menu-option5 {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
}


.section5-location-menu-option6 {
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
}

.section5-location-menu-option7 {
    grid-column: 2;
    grid-row: 3;
    padding: 10px;
}

.section5-location-menu-seemore {
    grid-column: 2;
    grid-row: 4;
    padding: 10px;
}

.section5-location {
    font: 14px;
    color: #222222;
    font-weight: 500;
}

.section5-rental-type {
    font: 14px;
    color: #717171;
    font-weight: 300;
}
